In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn import tree

In [20]:
df = pd.read_csv('CropDataset.csv')

In [21]:
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  73  57  44    20.879744  82.002744  6.502985  202.935536  rice
1  74  57  44    21.770462  80.319644  7.038096  226.655537  rice
2  92  41  38    23.004459  82.320763  7.840207  263.964248  rice
3  68  44  38    26.491096  80.158363  6.980401  242.864034  rice
4  66  36  40    20.130175  81.604873  7.628473  262.717340  rice

In [22]:
df.size

17600

In [23]:
df.shape

(2200, 8)

In [24]:
df.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [25]:
df['label'].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [26]:
features = df[['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall']]
target = df['label']
labels = df['label']

In [27]:
accuracy = []
model = []

In [39]:
from sklearn.model_selection import train_test_split
Xtrain, Xtest, Ytrain, Ytest = train_test_split(features,target, test_size = 0.25, random_state=101)

In [40]:
from sklearn.neighbors import KNeighborsClassifier
# Information Gain
knn=KNeighborsClassifier(n_neighbors=3,algorithm='ball_tree')

knn.fit(Xtrain,Ytrain)

KNeighborsClassifier(algorithm='ball_tree', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [41]:
prediction_vals = knn.predict(Xtest)
x = metrics.accuracy_score(Ytest, prediction_vals)
accuracy.append(x)
model.append('k nearest neighbours')
print('k nearest neighbor Accuracy: ', x*100)

print(classification_report(Ytest,prediction_vals))

k nearest neighbor Accuracy:  97.81818181818181
              precision    recall  f1-score   support

       apple       1.00      1.00      1.00        30
      banana       1.00      1.00      1.00        25
   blackgram       0.96      1.00      0.98        27
    chickpea       1.00      1.00      1.00        30
     coconut       1.00      1.00      1.00        18
      coffee       1.00      1.00      1.00        24
      cotton       1.00      1.00      1.00        23
      grapes       1.00      1.00      1.00        38
        jute       0.90      0.78      0.84        23
 kidneybeans       0.96      1.00      0.98        25
      lentil       0.93      0.96      0.94        26
       maize       1.00      1.00      1.00        27
       mango       1.00      1.00      1.00        26
   mothbeans       0.95      0.87      0.91        23
    mungbean       1.00      1.00      1.00        26
   muskmelon       1.00      1.00      1.00        18
      orange       1.00      1.00      1.00        25
      papaya       1.00      0.95      0.97        20
  pigeonpeas       1.00      0.95      0.97        20
 pomegranate       1.00      1.00      1.00        21
        rice       0.83      0.96      0.89        25
  watermelon       1.00      1.00      1.00        30

    accuracy                           0.98       550
   macro avg       0.98      0.98      0.98       550
weighted avg       0.98      0.98      0.98       550

In [38]:
Xtest

        N   P   K  temperature   humidity        ph    rainfall
2121  110  18  29    25.567483  60.492446  7.466901  190.225784
960    31  20  41    23.985988  93.342366  5.684995  104.991282
952     3   9  37    21.207254  94.263047  7.163005  107.566080
1958  117  57  18    22.942767  75.371706  6.114526   67.080226
681    27  43  21    28.086572  80.350059  6.760694   38.144768
...   ...  ..  ..          ...        ...       ...         ...
1684   19  19   9    10.164313  91.223210  6.465913  106.362551
1477   85  25  55    28.965866  90.718329  6.566759   22.258381
851     7  76  19    23.335652  67.404607  7.065264   36.186787
370    21  80  18    22.055923  19.603793  5.774755  126.726537
2010  100  51  36    24.886928  71.917115  7.319735  150.249867

[440 rows x 7 columns]