<a href="https://colab.research.google.com/github/akshayb80/AI-Based-Alternate-Crop-Recommendation-System/blob/master/Models/CropDataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [278]:
import pandas as pd

# Reading the dataset
df = pd.read_csv('/content/drive/My Drive/Datasets/CropDataset.csv')
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  73  57  44    20.879744  82.002744  6.502985  202.935536  rice
1  74  57  44    21.770462  80.319644  7.038096  226.655537  rice
2  92  41  38    23.004459  82.320763  7.840207  263.964248  rice
3  68  44  38    26.491096  80.158363  6.980401  242.864034  rice
4  66  36  40    20.130175  81.604873  7.628473  262.717340  rice

In [279]:
inputs = df.drop(['label'],axis='columns')
inputs.head()
target = df.drop(['N','P','K','ph','humidity'],axis='columns')
target.head()

   temperature    rainfall label
0    20.879744  202.935536  rice
1    21.770462  226.655537  rice
2    23.004459  263.964248  rice
3    26.491096  242.864034  rice
4    20.130175  262.717340  rice

In [280]:
from sklearn.preprocessing import LabelEncoder

In [281]:
# Encoded the labels
# le_N	 = LabelEncoder()
# le_P = LabelEncoder()
# le_K = LabelEncoder()
# le_temperature = LabelEncoder()
# le_humidity = LabelEncoder()
# le_ph = LabelEncoder()
# le_rainfall = LabelEncoder()

In [282]:
# inputs['N_n'] = le_N.fit_transform(inputs['N'])
# inputs['P_n'] = le_P.fit_transform(inputs['P'])
# inputs['K_n'] = le_K.fit_transform(inputs['K'])
# inputs['temperature_n'] = le_temperature.fit_transform(inputs['temperature'])
# inputs['humidity_n'] = le_humidity.fit_transform(inputs['humidity'])
# inputs['ph_n'] = le_ph.fit_transform(inputs['ph'])
# inputs['rainfall_n'] = le_rainfall.fit_transform(inputs['rainfall'])
# inputs_n = inputs.drop(['N','P','K','temperature','humidity','ph','rainfall'],axis='columns')

In [283]:
le_label	 = LabelEncoder()
target['label_n'] = le_label.fit_transform(target['label'])
target_n = target['label_n']
target = target['label']
inputs.head()

    N   P   K  temperature   humidity        ph    rainfall
0  73  57  44    20.879744  82.002744  6.502985  202.935536
1  74  57  44    21.770462  80.319644  7.038096  226.655537
2  92  41  38    23.004459  82.320763  7.840207  263.964248
3  68  44  38    26.491096  80.158363  6.980401  242.864034
4  66  36  40    20.130175  81.604873  7.628473  262.717340

In [284]:
target_n.head() # encoded categories

0    20
1    20
2    20
3    20
4    20
Name: label_n, dtype: int64

In [285]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(inputs,target_n, test_size=0.25,random_state=42)

In [286]:
# Training the model
from sklearn import tree

model = tree.DecisionTreeClassifier(criterion='entropy')

model.fit(X_train,Y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [287]:
from sklearn.metrics import accuracy_score
prediction_vals = model.predict(X_test)
x = accuracy_score(Y_test, prediction_vals)
print(x)

0.9818181818181818

In [288]:
model.score(X_test,Y_test)

0.9818181818181818

In [289]:
# N = input("Nitrogen percent")
# N = le_N.fit_transform([N])
# # P = le_P.fit_transform([input("Phosphorous percent")])
# K = le_K.fit_transform([input("Potassium percent")])
# rainfall = le_rainfall.fit_transform([input("Rainfall")])
# humidity = le_humidity.fit_transform([input("Humidity")])
# temperature = le_temperature.fit_transform([input("Temperature")])
# ph = le_ph.fit_transform([input("PH")])

In [290]:
# original =le_label.inverse_transform(model.predict([[N[0], P[0], K[0], temperature[0], humidity[0], ph[0], rainfall[0]]]))
# # print(original)